<div id="layerSelector" class="layerSelector"></div>
<div id="layerPropertySelector" class="layerPropertySelector"></div>
<div id="elementsMenu" class="elementsMenu">
    <form>
        <ul>
            <li data-selectorid="siteTitle" data-xpath="/html/body/div[5]/div[2]/div[5]/div/div[2]/div[2]/div[3]/div[2]/div[1]/div[1]/h1">
                <span>TITLE</span>
                <input type="text" value="Arkopharma - Azinc Optimal Famille - Sirop, 150ml" disabled/>
            </li>
            <li data-image="false" data-selectorid="siteDescription" data-xpath="/html/body/div[5]/div[2]/div[5]/div/div[2]/div[2]/div[3]/div[2]/div[2]/div/div[1]">
                <span>DESCRIPTION</span>
                <input type="text" value="Complément alimentaire multivitaminé, convient aux adultes et aux enfants à partir de 30 mois." disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteBrand" data-xpath="/html/body/div[5]/div[2]/div[5]/div/div[2]/div[2]/div[3]/div[2]/div[1]/div[1]/h1/span">
                <span>BRAND</span>
                <input type="text" value="Arkopharma" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteCategories" data-xpath="">
                <span>CATEGORIES</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteEAN13" data-xpath="//*[@id='product-price-275']/span">
                <span>EAN13</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteReference" data-xpath="">
                <span>REFERENCE</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="true"  data-selectorid="siteImage" data-xpath="//*[@id='gallery']/div/div[2]/div/img">
                <span>IMAGE</span><br>
                <img src="" alt="">
            </li>
            <li data-image="false"  data-selectorid="sitePrice" data-xpath="//*[@id='product-price-275']/span">
                <span>PRICE</span>
                <input type="text" value="6,99 €" disabled/>
            </li>
            <li data-image="false"  data-selectorid="sitePriceOld" data-xpath="">
                <span>PRICE_OLD</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteTypePromo" data-xpath="">
                <span>TYPE_PROMO</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="sitePriceTTCHT" data-xpath="">
                <span>PRICE_TTC_HT</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteCurrency" data-xpath="">
                <span>CURRENCY</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteShipmentPrice" data-xpath="">
                <span>SHIPMENT_PRICE</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteState" data-xpath="">
                <span>STOCK_STATE</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteProductMark" data-xpath="">
                <span>PRODUCT_MARK</span>
                <input type="text" value="" disabled/>
            </li>
            <li data-image="false"  data-selectorid="siteBreadcrumb" data-xpath="">
                <span>BREADCRUMB</span>
                <input type="text" value="" disabled/>
            </li>
        </ul>
        <input type="submit" class="btn submit" value="Save"/>
    </form>
    <div class="btn"></div>
</div>