{# not used ! #}
<div class="small-box {{ name }}">
    {% block content %}
        <div class="inner">
            <h3>45 €</h3>
            <p>This Month</p>
            <div class="procent3">
                <p><i class="ion ion-arrow-down-a"></i></p>
                <p>+ 5%</p>
            </div>
        </div>
    {% endblock %}
    <div class="icon">
        <i class="fa fa-bar-chart"></i>
    </div>
    {% block footer %}
        <a href="#" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    {% endblock %}
</div>