<div class="info-box brands mdl-widget" data-widget-id="{{ widget.id }}">
    <span class="info-box-icon"><i class="fa fa-registered"></i></span>
    <div class="info-box-content"> <span class="info-box-text">{% filter capitalize %}{% trans %}BRANDS{% endtrans %}{% endfilter %}</span> <span class="info-box-number">41,410 <i class="ion ion-arrow-down-a"></i></span>
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div> <span class="progress-description">
            70% {% filter capitalize %}{% trans %}INCREASE_THIRTY_DAYS{% endtrans %}{% endfilter %}
        </span>
    </div>
</div>