<div class="small-box products mdl-widget" data-widget-id="{{ widget.id }}">
    <div class="inner">
        <h3>13,648</h3>
        <p>{% filter capitalize %}{% trans %}DATASHEETS{% endtrans %}{% endfilter %}</p>
        <div class="procent4">
            <p><i class="ion ion-arrow-up-a"></i></p>
            <p>+ 10%</p>
        </div>
    </div>
    <div class="icon">
        <i class="fa fa-sticky-note"></i>
    </div>
    <a href="#" class="small-box-footer">{% filter capitalize %}{% trans %}MORE_INFO{% endtrans %}{% endfilter %} <i class="fa fa-arrow-circle-right"></i></a>
</div>