<div class="box mdl-widget" data-widget-id="{{ widget.id }}">
    <div class="box-header with-border">
        <h3 class="box-title">{% filter capitalize %}{% trans %}MISSING_PRODUCTS_CATALOGUE{% endtrans %}{% endfilter %}</h3>
    </div>
    <div class="box-body">
        <div class="details">
            <p> 11,900 {% trans %}PRODUCTS_MISSING_CATALOGUE{% endtrans %}</p>
            <a href="# " class="btn btn-default">{% filter capitalize %}{% trans %}MORE_DETAILS{% endtrans %}{% endfilter %}</a>
        </div>
    </div>
</div>