<div class="small-box star-products mdl-widget" data-widget-id="{{ widget.id }}">
    <div class="inner">
        <h3>93,139</h3>
        <p>Star products</p>
    </div>
    <div class="icon">
        <i class="fa fa-star"></i>
    </div>
    <a href="#" class="small-box-footer">{% filter capitalize %}{% trans %}MORE_INFO{% endtrans %}{% endfilter %}
        <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>