<div class="small-box products mdl-widget" data-widget-id="{{ widget.id }}">
    <div class="inner">
        <h3>45 €</h3>
        <p>{% filter capitalize %}{% trans %}THIS_MONTH{% endtrans %}{% endfilter %}</p>
        <div class="procent3">
            <p><i class="ion ion-arrow-down-a"></i></p>
            <p>+ 5%</p>
        </div>
    </div>
    <div class="icon">
        <i class="fa fa-bar-chart"></i>
    </div>
    <a href="#" class="small-box-footer">{% filter capitalize %}{% trans %}MORE_INFO{% endtrans %}{% endfilter %} <i class="fa fa-arrow-circle-right"></i></a>
</div>