<div class="small-box categories mdl-widget" data-widget-id="{{ widget.id }}">
    <div class="inner">
        <h3>590 €</h3>
        <p>{% filter capitalize %}{% trans %}YEAR_TO_DATE{% endtrans %}{% endfilter %}</p>
        <div class="procent3">
            <p><i class="ion ion-arrow-up-a"></i></p>
            <p>+ 15%</p>
        </div>
    </div>
    <div class="icon">
        <i class="fa fa-line-chart"></i>
    </div>
    <a href="#" class="small-box-footer">{% filter capitalize %}{% trans %}MORE_INFO{% endtrans %}{% endfilter %} <i class="fa fa-arrow-circle-right"></i></a>
</div>