{% extends 'MyDataLabAdminBundle::base.html.twig' %}
{% block title %}Wording{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="col-lg-2 col-xs-12">
                        <img src="{{ asset('bundles/mydatalabadmin/img/products/lacoste.png') }}" alt="LaCoste" height="150" width="150">
                    </div>
                    <div class="col-lg-10 col-xs-12">
                        <span class="product-name">Perfume 1 - Lacoste</span>
                    </div>
                    <div class="col-lg-3 col-xs-12" style="font-weight:bold;">
                        <span>URL : <span class="text-blue">Monstore.com/parfum-1-lacoste/</span></span><br>
                        <span>EAN 13 : 5638745963668</span>
                    </div>
                    <div class="col-lg-3 col-xs-12" style="font-size:19px;">
                        <div class="prod">
                            <ul>
                                <li><i class="fa fa-square" style="color:#272D71"></i><span>Monstore.com</span></li>
                                <li><i class="fa fa-square" style="color:#00B6C9"></i><span>Sephora.com</span></li>
                                <li><i class="fa fa-square" style="color:#99CA3C"></i><span>Marianmaud.com</span></li>
                                <li><i class="fa fa-square" style="color:#FFF611"></i><span>MonParfum.com</span></li>
                                <li><i class="fa fa-square" style="color:#E15D10"></i><span>Marianmaud.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 pull-right">
                        <div class="small-box topkeywords">
                            <div class="inner">
                                <h3>5</h3>
                                <p>Top Keywords</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-key"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="col-lg-4">
                        <table id="keywords1" class="table">
                            <tbody>
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>KeyWord 1</td>
                                <td style="width:200px">
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>KeyWord 2</td>
                                <td style="width:200px">
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>KeyWord 3</td>
                                <td style="width:200px">
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>KeyWord 4</td>
                                <td style="width:200px">
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>KeyWord 5</td>
                                <td style="width:200px">
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-8">
                        <table id="keywords2" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Keyword</th>
                                    <th>Occurences</th>
                                    <th>Occurences</th>
                                    <th>Occurences</th>
                                    <th>Occurences</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="height:47px;">1</td>
                                    <td>KeyWord 1</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td style="height:47px;">2</td>
                                    <td>KeyWord 2</td>
                                    <td>2</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td style="height:47px;">3</td>
                                    <td>KeyWord 3</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td style="height:47px;">4</td>
                                    <td>KeyWord 4</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td style="height:47px;">5</td>
                                    <td>KeyWord 5</td>
                                    <td>8</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box">
                <table id="keywords" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Keyword</th>
                            <th>Total of occurences</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>KeyWord 1</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>KeyWord 2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>KeyWord 3</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>KeyWord 4</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>KeyWord 5</td>
                            <td>8</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Keywords Cloud</h3>
                </div>
                <div id="myCanvasContainer" >
                    <canvas id="myCanvas" style="width:100%; height:300px;">
                        <p>Anything in here will be replaced on browsers that support the canvas element</p>
                    </canvas>
                </div>
                <div id="tags">
                    <ul>
                        <li><a href="http://www.google.com" target="_blank">Google</a></li>
                        <li><a href="#1">Link 1</a></li>
                        <li><a href="#2">Link 2</a></li>
                        <li><a href="#3">Link 3</a></li>
                        <li><a href="#" onclick="return tpu(this)">SVGGraph</a></li>
                        <li><a href="#" onclick="return tpu(this)">JPEG Saver</a></li>
                        <li><a href="#" onclick="return tpu(this)">Downloads</a></li>
                        <li><a href="#" onclick="return tpu(this)">Google</a></li>
                        <li><a href="#" onclick="return tpu(this)">Yahoo!</a></li>
                        <li><a href="#" onclick="return tpu(this)">Microsoft</a></li>
                        <li><a href="#" onclick="return tpu(this)">BBC</a></li>
                        <li><a href="#" onclick="return f('another')">Another</a></li>
                        <li><a href="#" onclick="return f('example')">Example</a></li>
                        <li><a href="#" onclick="return f('different')">Different</a></li>
                        <li><a href="#" onclick="return f('options')">Options</a></li>
                        <li><a href="#fake1" onclick="return tpu(this)">Fake link 1</a></li>
                        <li><a href="#fake2" onclick="return tpu(this)">Fake link 2</a></li>
                        <li><a href="#fake3" onclick="return tpu(this)">Fake link 3</a></li>
                        <li><a href="#fake4" onclick="return tpu(this)">Fake link 4</a></li>
                        <li><a href="#fake5" onclick="return tpu(this)">Fake link 5</a></li>
                        <li><a href="#fake6" onclick="return tpu(this)">Fake link 6</a></li>
                        <li><a href="/fish">Fish</a></li>
                        <li><a href="/chips">Chips</a></li>
                        <li><a href="/salt">Salt</a></li>
                        <li><a href="/vinegar">Vinegar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mydatlabadmin/js/jquery.tagcanvas.js') }}"></script>
    <script>
                            $(function () {
                                if (!$('#myCanvas').tagcanvas({
                                    textColour: '#000',
                                    outlineThickness: 2,
                                    maxSpeed: 0.09,
                                    depth: 0.3
                                }, 'tags')) {
                                    // TagCanvas failed to load
                                    $('#myCanvasContainer').hide();
                                }
                            });
    </script>
{% endblock %}
